.emailsInput {
    background: #FFFFFF;
    border: 1px solid #C3C2CF;
    box-sizing: border-box;
    border-radius: 4px;
    height: 100px;
    cursor: text;
    padding: 10px;
    overflow: auto;
    width: -webkit-fill-available;
    &__input {
        width: -webkit-fill-available;
        border: none;
        &:focus { 
            outline: none;
        }
    }
}