.button {
    background: #4262FF;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    padding: 8px 16px;
    margin-right: 15px;
    cursor: pointer;
}